.inclusive {
  display: none;
  position: relative;
  z-index: 10;
  background-color: #f7f7f7;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  max-width: 1140px;
  margin: 0px auto 10px auto;
}
.inclusive.active {
  display: flex;
}
.inclusiveFontSize,
.inclusiveBGColor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.inclusiveFontSize div,
.inclusiveBGColor div {
  display: flex;
  gap: 10px;
}
.inclusiveFontSize button,
.inclusiveBGColor button {
  display: flex;
  font-size: 18px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 20%;
  background-color: var(--extraYellow);
  color: rgb(80, 80, 80);
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.inclusiveBGColor button.inclusiveBGColorWhite {
  background-color: #fff;
}
.inclusiveBGColor button.inclusiveBGColorDark {
  background-color: rgb(80, 80, 80);
  color: #f7f7f7;
}
.headerInclusiveModeOffIcon {
  font-size: 30px;
  cursor: pointer;
}
.headerInclusiveModeOffIcon:hover {
  color: #ff407d;
}
@media (max-width: 320px) {
  .inclusiveFontSize,
  .inclusiveBGColor {
    font-size: 12px;
  }
}
