.mainRecentNewsContainer {
  max-width: 1140px;
  margin: 0px auto;
  padding: 20px 10px;
}
.mainActivitiesContainer {
  max-width: 1800px;
  margin: 0px auto;
  padding: 20px 10px;
}
.mainRecentNewsTitle,
.mainActivitiesTitle {
  font-size: var(--titleFontSize);
  margin-bottom: 20px;
  font-weight: 600;
}
.mainActivities {
  background-color: var(--secondaryBGColor);
}

/* SUMMER */
.mainHero {
  background-color: var(--secondaryBGColor);
}
.mainHeroContainer {
  max-width: 1140px;
  margin: 0px auto;
  padding: 20px 10px;
}
.mainHeroTitle {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.mainHeroText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 22px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding: 20px;
  background-color: #ffffec;
  border-radius: 10px;
  color: #524c42;
}
@media (max-width: 425px) {
  .mainHeroText {
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }
}
.mainHeroGallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .mainHeroGallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
.mainHeroGalleryImageContainer {
  position: relative;
  padding-bottom: 100%;
}
.mainHeroGalleryImageContainer > img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
}
.mainHeroVideo {
  width: 100%;
}
