.aboutContainer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 10px;
}
.aboutCards {
  display: grid;
  grid-template-columns: repeat(var(--aboutCardsTemplate), 1fr);
  gap: 10px;
}
@media (max-width: 768px) {
  .aboutCards {
    grid-template-columns: repeat(calc(var(--aboutCardsTemplate) - 1), 1fr);
  }
}
.aboutCard {
  transition: all 0.3s;
  background-color: var(--cardBGColor);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}
.aboutCard:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.aboutCardBody {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (max-width: 425px) {
  .aboutCardBody {
    padding: 10px;
  }
}
.aboutCardIcon {
  font-size: 50px;
}
@media (max-width: 425px) {
  .aboutCardIcon {
    font-size: 30px;
  }
}
.aboutCardTitle {
  font-size: var(--headerLinksFontSize);
  text-align: center;
}
@media (max-width: 425px) {
  .aboutCardTitle {
    font-size: calc(var(--headerLinksFontSize) - 4px);
  }
}

/* aboutBasicInformation + aboutItem */

.aboutItemContainer {
  max-width: 1140px;
  margin: 0px auto;
  padding: 20px 10px;
}
.aboutItemTitle {
  font-size: var(--titleFontSize);
  font-weight: 600;
  margin-bottom: 20px;
  word-break: break-word;
}
.aboutItemImage {
  cursor: pointer;
  max-width: 200px;
  margin-bottom: 10px;
}
@media (max-width: 425px) {
  .aboutItemImage {
    max-width: 150px;
  }
}
.aboutItemColumns {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-bottom: none;
}
.aboutItemRow {
  position: relative;
  display: flex;
  border-bottom: 1px solid #000;
  background-color: var(--tablesBGColor);
}
@media (max-width: 768px) {
  .aboutItemRow {
    flex-direction: column;
    overflow: hidden;
  }
}
.aboutItemSubtitle {
  font-size: var(--aboutItemFontSize);
  flex: 1 1 50%;
  font-weight: 600;
  border-right: 1px solid #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .aboutItemSubtitle {
    border-right: none;
    border-bottom: none;
    padding: 20px;
  }
}
.aboutItemDropDownIcon {
  display: none;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .aboutItemDropDownIcon {
    display: block;
  }
}
.aboutItemDescription {
  font-size: var(--aboutItemFontSize);
  transition: all 0.3s;
  flex: 1 1 50%;
  padding: 10px;
}
@media (max-width: 768px) {
  .aboutItemDescription {
    position: absolute;
    top: 80px;
    z-index: -1;
    opacity: 0;
    transform: translateY(-50px);
    background-color: var(--secondaryBGColor);
  }
}
.aboutItemDescription > p:not(:last-child) {
  margin-bottom: 10px;
}
.aboutItemDescription > p > a {
  color: var(--linksColor);
}
.aboutItemDescription > p > a:hover {
  color: #7b68ee;
}
.aboutItemDescription > ul {
  list-style: disc;
  padding-left: 20px;
}
.aboutItemDescription > ul:not(:last-child) {
  margin-bottom: 10px;
}
.aboutItemDescription > ul > li > a {
  color: var(--linksColor);
}
.aboutItemDescription > ul > li > a:hover {
  color: #7b68ee;
}
.aboutItemDescription.dropDown {
  position: static;
  z-index: 1;
  opacity: 1;
  border-top: 1px solid #000;
  transform: translateY(0px);
}
.aboutItemDropDownIcon.dropDown {
  transform: rotate(180deg);
}

/* aboutStructure */

.aboutStructureSubtitle {
  font-size: var(--newsTitle);
  margin-bottom: 10px;
}
.aboutStructureCardsAdmins {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ". a ."
    "b c d"
    "e f .";
  gap: 10px;
}
@media (max-width: 1024px) {
  .aboutStructureCardsAdmins {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a a"
      "b c"
      "e f"
      "d d";
  }
}
@media (max-width: 530px) {
  .aboutStructureCardsAdmins {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "a"
      "b"
      "e"
      "c"
      "f"
      "d";
  }
}
.adminA {
  grid-area: a;
}
.adminB {
  grid-area: b;
}
.adminC {
  grid-area: c;
}
.adminD {
  grid-area: d;
}
.adminE {
  grid-area: e;
}
.adminF {
  grid-area: f;
}
.aboutStructureCard {
  background-color: var(--cardBGColor);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.aboutStructureCardBody {
  font-size: var(--aboutItemFontSize);
  word-break: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  row-gap: 20px;
  text-align: center;
}
@media (max-width: 375px) {
  .aboutStructureCardBody {
    font-size: calc(var(--aboutItemFontSize) - 2px);
    row-gap: 10px;
  }
}
.aboutStructureCardUserIcon > img {
  max-width: 150px;
}
@media (max-width: 375px) {
  .aboutStructureCardUserIcon > img {
    max-width: 130px;
  }
}
.aboutStructureCardUserInfoName {
  font-weight: 600;
  margin-bottom: 5px;
}
.aboutStructureCardUserInfoJob {
  color: rgba(128, 128, 128, 0.8);
}
.aboutStructureCardUserSchedule {
  align-self: flex-start;
  text-align-last: left;
}
.aboutStructureCardOtherIcon {
  font-size: 60px;
}
.aboutStructureCardsAdmins {
  margin-bottom: 20px;
}
.aboutStructureCardsCollegialOrgans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a b .";
  gap: 10px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .aboutStructureCardsCollegialOrgans {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b";
  }
}
@media (max-width: 530px) {
  .aboutStructureCardsCollegialOrgans {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "a"
      "b";
  }
}
.collegianOrganA {
  grid-area: a;
}
.collegianOrganB {
  grid-area: b;
}
.aboutStructureCardUserInfoName > a {
  color: var(--linksColor);
  font-weight: normal;
}
.aboutStructureCardUserInfoName > a:hover {
  color: #7b68ee;
}
.aboutStructureCardsOtherStructures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a . .";
  gap: 10px;
}
@media (max-width: 768px) {
  .aboutStructureCardsOtherStructures {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a .";
  }
}
@media (max-width: 530px) {
  .aboutStructureCardsOtherStructures {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "a";
  }
}
.otherStructuresA {
  grid-area: a;
}

/* aboutEmployees */
.aboutEmployeesContainer {
  position: relative;
}
.aboutEmployeesSubtitle {
  font-size: var(--newsTitle);
  margin-bottom: 10px;
}
.aboutEmployeesCards {
  display: grid;
  grid-template-columns: repeat(var(--aboutCardsTemplate), 1fr);
  gap: 10px;
}
@media (max-width: 768px) {
  .aboutEmployeesCards {
    grid-template-columns: repeat(calc(var(--aboutCardsTemplate) - 1), 1fr);
  }
}
@media (max-width: 530px) {
  .aboutEmployeesCards {
    grid-template-columns: repeat(calc(var(--aboutCardsTemplate) - 2), 1fr);
  }
}
.aboutEmployeesCard {
  transition: all 0.3s;
  background-color: var(--cardBGColor);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.aboutEmployeesCard:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.aboutEmployeesCardBody {
  font-size: var(--aboutItemFontSize);
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 20px;
}
@media (max-width: 375px) {
  .aboutEmployeesCardBody {
    word-break: break-word;
    font-size: calc(var(--aboutItemFontSize) - 2px);
    row-gap: 10px;
  }
}
.aboutEmployeesCardIcon > img {
  max-width: 150px;
}
.aboutEmployeesCardUserName {
  font-weight: 600;
  margin-bottom: 5px;
}
.aboutEmployeesCardUserJob {
  color: rgba(128, 128, 128, 0.8);
}
.aboutEmployeesCardUserSchedule {
  align-self: flex-start;
  text-align-last: left;
}
.aboutEmployeesCardsAdmins,
.aboutEmployeesCardsSpecialists,
.aboutEmployeesCardsMethodists {
  margin-bottom: 20px;
}

/* aboutEmployeesShowMore */
.aboutEmployeesShowMoreColumns {
  display: flex;
  flex-direction: column;
  background-color: var(--secondaryBGColor);
  border: 1px solid #000;
}
.aboutEmployeesShowMoreRow {
  display: flex;
}
.aboutEmployeesShowMoreRow {
  border-bottom: 1px solid #000;
}
.aboutEmployeesShowMoreSubtitile {
  flex: 1 1 50%;
  border-right: 1px solid #000;
  padding: 10px;
  font-weight: 600;
}
.aboutEmployeesShowMoreDescription {
  flex: 1 1 50%;
  padding: 10px;
}
.aboutItemDescriptionCourses > p:not(:last-child) {
  margin-bottom: 10px;
}
.aboutItemDescriptionCourses > ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 10px;
}
